@use "~@neolithic-css/toolkit" as *;

$property-values: [ 'auto', 'flex-start', 'flex-end', 'center', 'stretch' ] !default;
$property-name-alias: null !default;
$property-value-alias: null !default;

@include add-simple-utility(
    $property-name: align-self,
    $property-value: $property-values,
    $property-name-alias: $property-name-alias,
    $property-value-alias: $property-value-alias,
);
