@use "~@neolithic-css/toolkit" as *;

$property-values: [ 'contain', 'cover', 'fill', 'none', 'scale-down' ] !default;
$property-name-alias: null !default;
$property-value-alias: null !default;

@include add-simple-utility(
    $property-name: object-fit,
    $property-value: $property-values,
    $property-name-alias: $property-name-alias,
    $property-value-alias: $property-value-alias,
);
