@use "../mixins/add-range-utility" as *;
@use "~@neolithic-css/toolkit/src/functions" as *;

$property-name-alias: 'fz' !default;
$fluid: true !default;
$step: 1px !default;
$from: 10px !default;
$to: 64px !default;

$fluid: true !default;


@include add-range-utility(
    $from: $from,
    $to: $to,
    $step: $step,
    $property-name: font-size,
    $property-name-alias: $property-name-alias,
    $property-value-alias: range(strip-unit($from), strip-unit($to), strip-unit($step)),
    $fluid: false,
);

@if $fluid {
    @include add-range-utility(
        $from: $from,
        $to: $to,
        $step: $step,
        $property-name: font-size,
        $property-name-alias: $property-name-alias,
        $fluid: true,
    );
}
