@use "~@neolithic-css/toolkit" as *;

$property-values: [ 'underline', 'line-through' ] !default;
$property-name-alias: 't' !default;
$property-value-alias: null !default;

@include add-simple-utility(
    $property-name: text-decoration,
    $property-value: $property-values,
    $property-name-alias: $property-name-alias,
    $property-value-alias: $property-value-alias,
    $breakpoints: [],
);
