@use "~@neolithic-css/toolkit" as *;

$property-values: [ 'baseline', 'top', 'middle', 'bottom', 'text-top', 'text-bottom' ] !default;
$property-name-alias: 't' !default;
$property-value-alias: null !default;

@include add-simple-utility(
    $property-name: vertical-align,
    $property-value: $property-values,
    $property-name-alias: $property-name-alias,
    $property-value-alias: $property-value-alias,
);
