@use "../mixins/add-range-utility" as *;
@use "~@neolithic-css/toolkit/src/functions" as *;

$property-name-alias: 'grid-cols' !default;

$from: 1 !default;
$to: 12 !default;
$step: 1 !default;

@include add-range-utility(
    $from: $from,
    $to: $to,
    $step: $step,
    $property-name: grid-template-columns,
    $property-name-alias: $property-name-alias,
    $property-value-alias: range($from, $to, $step),
    $fluid: false,
    $property-value-template: 'repeat(_$i_, minmax(0, 1fr))',
);
