@use "~@neolithic-css/toolkit" as *;
@use "../mixins/add-range-utility" as *;
@use "~@neolithic-css/toolkit/src/functions" as *;
@use "~@neolithic-css/toolkit/src/functions/list";

$property-names: [ margin, margin-top, margin-bottom, margin-left, margin-right ] !default;
$property-aliases: [ m, mt, mb, ml, mr ] !default;

$from: 0px !default;
$to: 100px !default;
$step: 5px !default;

$fluid: true !default;

@include add-range-utility(
    $from: $from,
    $to: $to,
    $step: $step,
    $property-name: $property-names,
    $property-name-alias: $property-aliases,
    $property-value-alias: range(strip-unit($from), strip-unit($to), strip-unit($step)),
    $fluid: false,
);

@if $fluid {
    @include add-range-utility(
        $from: $from,
        $to: $to,
        $step: $step,
        $property-name: $property-names,
        $property-name-alias: $property-aliases,
        $fluid: true,
    );
}

@each $index, $property-name in list.to-map($property-names) {
    @include add-simple-utility(
        $property-name: $property-name,
        $property-value: auto,
        $property-name-alias: list.nth($property-aliases, $index),
    );
}
