@use "~@neolithic-css/toolkit" as *;
@use "../mixins/add-range-utility" as *;
@use "~@neolithic-css/toolkit/src/functions" as *;
@use "../config/config";

$property-name-alias: translate !default;
$from: -110 !default;
$to: 110 !default;
$step: 10 !default;

@each $coordinate in [ 'x', 'y', 'z' ] {
  @include add-simple-utility(
      $property-name: --transform-translate-#{$coordinate},
      $property-value: range($from, $to, $step, '_$i_%'),
      $property-name-alias: $property-name-alias + '-' + $coordinate,
      $breakpoints: [],
  );
}
