.transform {
  --transform-translate-x: 0 !important;
  --transform-translate-y: 0 !important;
  --transform-translate-z: 0 !important;
  --transform-rotate-x: 0 !important;
  --transform-rotate-y: 0 !important;
  --transform-rotate-z: 0 !important;
  --transform-skew-x: 0 !important;
  --transform-skew-y: 0 !important;
  --transform-scale-x: 1 !important;
  --transform-scale-y: 1 !important;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) translateY(var(--transform-translate-z)) rotateX(var(--transform-rotate-x)) rotateY(var(--transform-rotate-y)) rotateZ(var(--transform-rotate-z)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y)) !important;
}
